@font-face {
    font-family: Warpriest;
    src: url(../font/WarPriestCondensed-2Z8X.ttf);
  }

body {
    background-image: url(../images/scenery/map.png);
    font-family: Warpriest;
    overflow:hidden;
    margin:0px; padding:0px;
    font-size: 20px;
}

game * {
    position: absolute;
    display: block;
    margin:0px; padding:0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

start {
    background-image: url(../images/scenery/start.png);
    transform: translate(1375px, 250px);
    width:274px; height: 109px;
    cursor: pointer;
}

start:hover {
    filter: hue-rotate(40deg);
    transition: 0.5s;
}

enemy {
    background-image: url(../images/enemies/monster_placeholder.png);
    width:130px; height: 110px;
}

phase {
    background-image: url(../images/scenery/buildphase.png);
    width:530px; height: 150px;
    transform: translate(695px, 0px);
}

wavetext {
    font-size: 40px;
    transform: translate(1550px, 600px);
}

tree {
    background-image: url(../images/scenery/Armored_Tree1.png);
    width: 256px; height: 256px;
}
tower {
    background-image: url(../images/towers/basicTower.png);
    width: 120px; height: 120px;
    cursor: grab;
}

drag {
    font-size: 35px;
    margin: 100px;
    color: white;

}

a {
    font-size: 2.5vw;
    color: white;
    margin-left: 25vw;
    margin-top: 15vw;
    text-decoration: none;
}
a:hover{
    font-weight: 3000;
    color: black;
    transition: 0.5s;
}


tower:hover {
    filter: hue-rotate(40deg);
    transition: 0.5s;
}

castle {
    background-image: url(../images/castle/castle1.png);
    width: 260px; height: 220px;
}

bullet {
        width: 10px;
        height: 10px;
        border-radius: 25px;
        background-color: yellow;
}

/* shot{
    background-image: url(../../src/assets/images/towers/basicTower.png);
    width: 100%; height: 100%;
} */
