body {
    background-color: #0082ce;
    font-family: Arial, Helvetica, sans-serif;
    overflow:hidden;
    margin:0px; padding:0px;
}

game * {
    position: absolute;
    display: block;
    margin:0px; padding:0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

enemy {
    background-image: url(../../src/assets/images/enemies/monster_placeholder.png);
    width:130px; height: 110px;
}

castle {
    background-image: url(../../src/assets/images/castle/castle1.png);
    width:260px; height: 220px;
}

